.catalog__item {
    height: 417px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.catalog__item div {
    font-size: 25px;
    font-weight: 600;
}