.user {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.user__image {
    border-radius: 10px;
    border: 3px solid #ca7900;
}

.user > div {
    font-size: 23px;
    color: #ca7900;
}