.movie {
    padding-top: 190px;
    padding-bottom: 90px;
}

.movie__inner {
    display: flex;
    gap: 0 50px;
}

.movie__poster {
    min-width: 525px;
    height: 725px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 10px;
}