body {
    font-family: "Arial", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: #131313;
    line-height: 1.3;
}

.container {
    max-width: calc(1285px + 15px * 2);
    padding: 0 15px;
    margin: 0 auto;
}