.intro {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.intro:after {
    content: url("../../../assets/images/intro/back.svg");
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
}

.intro__main {
    padding-top: 190px;
}

.intro__img {
    position: absolute;
    pointer-events: none;
    top: 27px;
    right: 0;
}